@model HeaderVM


<div class="header-banner">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand p-3" href="#">@Model.Settings.FirstOrDefault(s => s.Key == "Shipping Time").Value</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="text-right d-flex">
                <div class="shopping">
                    <a href="#" style="margin: 0 15px;">
                        <i class="fa-solid fa-shop"></i>
                        @Model.Settings.FirstOrDefault(s => s.Key == "Store Name").Value
                    </a>
                </div>
                <div class="check-order">
                    <a asp-controller="user" asp-action="index">
                        <i style="font-size: 15.5px;" class="fa-solid fa-clipboard-list"></i>
                        Check an Order
                    </a>
                </div>
            </div>


        </div>
    </nav>
</div>


<div style="background-color: @Model.Settings.FirstOrDefault(p=>p.Key == "Promo Background Color").Value;" class="promo-header">
    <div class="promo">
        <div class="text">
            <a style="color: @Model.Settings.FirstOrDefault(p=>p.Key == "Promo Color").Value;" asp-controller="powerup" asp-action="index">
                @Html.Raw(Model.Settings.FirstOrDefault(s => s.Key == "Promo Text").Value)
            </a>

        </div>
    </div>
</div>


<div class="header-main">
    <div class="container-fluid">
        <div class="main-header">

            <div class="header-wrapper">
                <nav>
                    <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
                    <label id="mMenu" class="m-menu__toggle" for="menu" onclick="topFunction()">
                        <svg class="hamburger" width="39" height="28" viewBox="0 0 24 24" fill="none" stroke="#000000"
                             stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
                            <line x1="1" y1="12" x2="21" y2="12"></line>
                            <line x1="1" y1="6" x2="21" y2="6"></line>
                            <line x1="1" y1="18" x2="21" y2="18"></line>
                        </svg>
                        <span id="m-menu" class="d-flex">Menu</span>
                    </label>
                    <label class="m-menu__overlay" for="menu"></label>
                    <div id="menu1" class="m-menu">
                        <div id="menu-header" class="m-menu__header">
                            <label class="m-menu__toggle" for="menu">
                                <svg class="close" width="25" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000"
                                     stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </label>
                            <span>Menu</span>
                        </div>


                        <div class="all-menu">
                            <div class="store-container">
                                <a asp-controller="trade" asp-action="index">
                                    <div class="store d-flex">
                                        <div class="store-header">
                                            <span class="store-name">Ross Henderson Shopping Center - GameStop</span>

                                            <br>
                                            <span class="store-time">Opens at CL:OS</span>
                                        </div>
                                        <div class="store-icon">
                                            <i class="fa-solid fa-shop"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="category-header">
                                Shop By Category
                            </div>

                            <ul id="menuUl" class="menu-ul" onclick="topNav">
                                @foreach (Category category in Model.Categories)
                                {
                                    <li @*asp-route-id="@Model.Subcategories.Select(s => s.Id).ToList()"*@>
                                        <label class="a-label__chevron" for="item-2">@category.Name</label>

                                        <input type="checkbox" id="item-2" name="item-2" class="m-menu__checkbox">
                                        <div id="m-menu2" class="m-menu">
                                            <div class="m-menu__header">
                                                <div class="back-label">
                                                    <label onclick="backNav()" class="m-menu__toggle" for="item-2">
                                                        <i id="backNav" class="fa-solid fa-chevron-left"></i>
                                                        <span class="prev">Back</span>
                                                    </label>

                                                </div>

                                            </div>
                                            <ul class="menu-ul-1">
                                                <div class="category-games">
                                                    <a href="~/assets/">
                                                        <span>@category.Name</span>
                                                    </a>
                                                </div>

                                                @*@foreach (SubCategory item in Model.SubCategories)
                                                {
                                                    <li><label><a asp-controller="product" asp-action="index" asp-route-id="@item.CategoryId">@item.Name</a></label></li>
                                                }*@
                                            </ul>


                                        </div>
                                    </li>
                                }

                            </ul>


                        </div>



                    </div>

                    <div class="header-brand">
                        <a asp-controller="home" asp-action="index">
                            <img class="nav-logo"
                                 src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwcf0a1c6d/images/svg-icons/logo-gs-mono.svg"
                                 alt="Logo">
                        </a>
                    </div>

                    <div class="header-search">
                        <div class="container">

                            <div class="row d-flex justify-content-center align-items-center">

                                <div class="search">
                                    <i class="fa fa-search"></i>
                                    <input type="text" class="form-control" placeholder="Search games,consoles & more">
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="last-section">
                        <div class="section-last">
                            <div class="trade-ins">
                                <a asp-controller="trade" asp-action="index">
                                    <div class="icon">
                                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                    </div>
                                    <div class="text">
                                        <span>Trade Ins</span>
                                    </div>
                                </a>
                            </div>

                            <div class="popup-rewards">
                                <a asp-controller="powerup" asp-action="index">
                                    <div class="icon">
                                        <img src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dw49576b4b/images/svg-icons/powerup-icon.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <span>PowerUp Rewards</span>
                                    </div>
                                </a>
                            </div>

                            <div class="sign-in">
                                <a asp-controller="user" asp-action="login">
                                    <div class="icon">
                                        <i class="fa-regular fa-user"></i>
                                    </div>
                                    <div class="text">
                                        <span>Sign In</span>
                                    </div>
                                </a>
                            </div>

                            <div class="cart">
                                <a asp-controller="cart" asp-action="index">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </div>
                                    <div class="text">
                                        <span class="minicart-quantity">
                                            0
                                        </span>
                                        <span>Cart</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
