@model HeaderVM
@inject ILayoutServices layoutservices

@{ Dictionary<string, string> settings = await layoutservices.GetSettingsAsync();
    List<BasketVM> basketVMs = await layoutservices.GetBasket();
}

<div class="header-banner">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand p-3" href="#">@Model.Settings.FirstOrDefault(s => s.Key == "Shipping Time").Value</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="text-right d-flex">
                <div class="shopping">
                    <a href="#" style="margin: 0 15px;">
                        <i class="fa-solid fa-shop"></i>
                        @Model.Settings.FirstOrDefault(s => s.Key == "Store Name").Value
                    </a>
                </div>
                <div class="check-order">
                    <a asp-controller="user" asp-action="index">
                        <i style="font-size: 15.5px;" class="fa-solid fa-clipboard-list"></i>
                        Check an Order
                    </a>
                </div>
            </div>


        </div>
    </nav>
</div>


<div style="background-color: @Model.Settings.FirstOrDefault(p=>p.Key == "Promo Background Color").Value;" class="promo-header">
    <div class="promo">
        <div class="text">
            <a style="color: @Model.Settings.FirstOrDefault(p=>p.Key == "Promo Color").Value;" asp-controller="powerup" asp-action="index">
                @Html.Raw(Model.Settings.FirstOrDefault(s => s.Key == "Promo Text").Value)
            </a>

        </div>
    </div>
</div>


<div class="header-main">
    <div class="container-fluid">
        <div class="main-header">

            <div class="header-wrapper">
                <nav>
                    <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
                    <label id="mMenu" class="m-menu__toggle" for="menu" onclick="topFunction()">
                        <svg class="hamburger" width="39" height="28" viewBox="0 0 24 24" fill="none" stroke="#000000"
                             stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
                            <line x1="1" y1="12" x2="21" y2="12"></line>
                            <line x1="1" y1="6" x2="21" y2="6"></line>
                            <line x1="1" y1="18" x2="21" y2="18"></line>
                        </svg>
                        <span id="m-menu" class="d-flex">Menu</span>
                    </label>
                    <label class="m-menu__overlay" for="menu"></label>
                    <div id="menu1" class="m-menu">
                        <div id="menu-header" class="m-menu__header">
                            <label class="m-menu__toggle" for="menu">
                                <svg class="close" width="25" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000"
                                     stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </label>
                            <span>Menu</span>
                        </div>


                        <div class="all-menu">
                            <div class="store-container">
                                <a asp-controller="trade" asp-action="index">
                                    <div class="store d-flex">
                                        <div class="store-header">
                                            <span class="store-name">Ross Henderson Shopping Center - GameStop</span>

                                            <br>
                                            <span class="store-time">Opens at CL:OS</span>
                                        </div>
                                        <div class="store-icon">
                                            <i class="fa-solid fa-shop"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="category-header">
                                Shop By Category
                            </div>

                            <ul id="menuUl" class="menu-ul">
                                @foreach (Category category in Model.Categories)
                                {
                                    <li @*asp-route-id="@Model.Subcategories.Select(s => s.Id).ToList()"*@>

                                        <label class="a-label__chevron" for="item-@category.For">@category.Name</label>

                                        <input type="checkbox" id="item-@category.For" name="item-@category.For" class="m-menu__checkbox">
                                        <div id="m-menu2" class="m-menu">
                                            <div class="m-menu__header">
                                                <div class="back-label">
                                                    <label onclick="backNav()" asp-for="@category.For" class="m-menu__toggle" for="item-@category.For">
                                                        <i id="backNav" class="fa-solid fa-chevron-left"></i>
                                                        <span class="prev">Back</span>
                                                    </label>

                                                </div>

                                            </div>
                                            <ul class="menu-ul-1">
                                                <div class="category-games">
                                                    <a asp-route-id="@category.Id">
                                                        <span>@category.Name</span>
                                                    </a>
                                                </div>

                                                @foreach (SubCategory item in Model.SubCategories)
                                                {
                                                    <li><label for="item-@item.For"><a asp-controller="product" asp-action="index" asp-route-id="@item.Id">@item.Name</a></label></li>
                                                }
                                            </ul>


                                        </div>
                                    </li>
                                }

                            </ul>


                        </div>



                    </div>

                    <div class="header-brand">
                        <a asp-controller="home" asp-action="index">
                            <img class="nav-logo"
                                 src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dwcf0a1c6d/images/svg-icons/logo-gs-mono.svg"
                                 alt="Logo">
                        </a>
                    </div>

                    <div class="header-search">
                        <div class="container">

                            <div class="row d-flex justify-content-center align-items-center">
                                <form role="search" action="#" method="GET">
                                    <div class="search">

                                        <i class="fa fa-search"></i>
                                        <input type="search" id="inputSearch" name="srcInput" data-url="http://localhost:42389/product/search" class="form-control" placeholder="Search games,consoles & more" autocomplete="off">
                                        <svg class="close_button" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path>
                                        </svg>
                                    </div>


                                    <div class="search-wrapper">
                                        <div class="search-redisign">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="search-brand">
                                                        <div class="searchList">
                                                            <div class="search-item">
                                                                @await Html.PartialAsync("_ProductSearchPartial", Model.Products)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>


                    <div class="last-section">
                        <div class="section-last">
                            <div class="trade-ins">
                                <a asp-controller="trade" asp-action="index">
                                    <div class="icon">
                                        <svg height="28" viewBox="0 0 24 24" width="28"><path d="M7 7H17V10L21 6L17 2V5H5V11H7V7ZM17 17H7V14L3 18L7 22V19H19V13H17V17Z" fill="black" data-darkreader-inline-fill="" style="--darkreader-inline-fill:#f9f7f4;"></path></svg>
                                    </div>
                                    <div class="text">
                                        <span>Trade Ins</span>
                                    </div>
                                </a>
                            </div>

                            <div class="popup-rewards">
                                <a asp-controller="powerup" asp-action="index">
                                    <div class="icon">
                                        <img src="https://www.gamestop.com/on/demandware.static/Sites-gamestop-us-Site/-/default/dw49576b4b/images/svg-icons/powerup-icon.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <span>PowerUp Rewards</span>
                                    </div>
                                </a>
                            </div>

                            <div class="sign-in">
                                <a asp-controller="user" asp-action="login">
                                    <div class="icon">
                                        <i class="fa-regular fa-user"></i>
                                    </div>
                                    <div class="text">
                                        <span>Sign In</span>
                                    </div>
                                </a>
                            </div>

                            <div id="mini-cart" class="cart">
                                @await Html.PartialAsync("_BasketPartial", basketVMs)
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>
