@model List<BasketVM>


<div class="cart-text">
    <h1 class="name-cart">Your cart</h1>
    <span class="countProduct">(2 products)</span>
</div>
<div class="cart-items">

    <div class="cartBox">
        @foreach (BasketVM cart in Model)
        {
            <div class="all-details d-flex">
                <div class="leftDetail">
                    <div class="product-img">
                        <a href="./productDetails.html"><img src="~/assets/img/@cart.Image" alt="img"></a>
                    </div>
                    <div class="product-details">
                        <div class="item-attributes">
                            <div class="product-name">
                                <a href="./productDetails.html"><h3 class="product-title">@cart.Title</h3></a>
                            </div>
                            <div class="product-condition">
                                <span class="condition">Condition</span>
                                <span class="condition-name">Pre-Owned</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rightDetail">
                    <div class="qtyOrder">
                        <select asp-controller="cart" asp-action="UpdateCount" asp-route-id="@cart.ProductID" class="selectpicker">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="remove-item">
                        <div class="item-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor"><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" fill="none" stroke-miterlimit="10"><path d="M20 9v12a2 2 0 01-2 2H6a2 2 0 01-2-2V9M1 5h22M12 12v6M8 12v6M16 12v6M8 5V1h8v4"></path></g></svg>
                        </div>
                    </div>
                    <div class="price-section">
                        @if (cart.Price != null)
                        {
                            <div class="currentPrice">
                                <span class="price-current-main">$@cart.Price</span>
                            </div>
                        }
                        @if (cart.DiscountedPrice > 0)
                        {
                            <div class="currentPrice">
                                <span class="price-current-main">$@cart.DiscountedPrice</span>
                            </div>
                        }
                        @if (cart.OldPrice > 0)
                        {
                            <div class="oldPrice">
                                <span class="price-old-main">$ @cart.OldPrice</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="priceBox">
        <div class="allPrice">
            <div class="product-price">
                <div class="container">
                    <div class="row">
                        <div class="col order-summary">
                            <h2 class="mb-2 order-summary">Order Summary</h2>

                            <div class="save-price">
                                You Save:
                                @foreach (BasketVM cart in Model)
                                {
                                    @*<span class="save-price-main">@cart.Price - @cart.DiscountedPrice USD</span>*@
                                }
                                </div>
                            <div class="row">
                                <div class="col-8">

                                    <div class="cart-price-section">
                                        <p class="font-bold sub-title-os">
                                            Total Price
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <p class="cart-total-price"> $@(Model.Sum(b=>b.Price) - Model.Sum(b => b.DiscountedPrice))</p>
                                </div>
                            </div>

                            <div class="checkout-and-pay col-11">
                                <a class="checkout-btn" asp-controller="cart" asp-action="checkout" role="button">
                                    <span class="checkout-text">
                                        Proceed To Checkout
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>