@model PageNationList<Category>



<div class="content">
    <div class="main product-index">
        <div class="row">
            <div class="d-flex">
                <div class="col-4 mb-3">
                    <h2>Category</h2>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <a asp-area="admin" asp-controller="category" asp-action="create">
                        <div class="btn btn-primary create-btn">Create</div>
                    </a>
                </div>
            </div>

            <div class="table-responsive mt-4 tbl-content">

                @await Html.PartialAsync("_CategoryIndexPartial", Model)

            </div>
        </div>
    </div>
    <nav class="justify-content-center d-flex" aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.HasPrev)
            {
                <li class="page-item">

                    <a class="page-link" asp-area="admin" asp-controller="category" asp-action="index" asp-route-page="@(Model.PageIndex-1)" aria-label="Previous">


                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @for (int i = Model.Start; i <= Model.End; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" :"")"><a class="page-link" asp-area="admin" asp-controller="category" asp-action="index" asp-route-page="@i">@i</a></li>

            }
            @if (Model.HasNext)
            {
                <li class="page-item">
                    <a class="page-link" asp-area="admin" asp-controller="category" asp-action="index" asp-route-page="@(Model.PageIndex+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>


